{% extends "base.html" %}
{% block content %}
{{errores}}
<div class="table-responsive container" style="width:100%">

<table class="table table-striped table-hover table-condensed" >
  	<tr>
    	<th># Ref</th>
    	<th>Nombre</th> 
    	<th>Marca</th>
    	<th>Existencias</th>
    	<th>Existencia Min.</th>
    	<th>Descripcion</th>
    	<th>Precio</th>
    	<th>Proveedor</th>
    	<th>Categorias</th>
    	<th>  </th>
    </tr>
    
    {% for producto in productos %}
	    
      <tr>
	        <td>{{producto.numeroReferencia}}</td>
	        <td>{{producto.nombreProducto}}</td>
	        <td>{{producto.marca}}</td> 
	        <td>{{producto.existencias}}</td>
	        <td>{{producto.existenciaMinima}}</td>
	        <td>{{producto.descripcion}}</td>
	        <td>{{producto.precio}}</td>
	        <td>{{producto.proveedor}}</td>
	        <td>{% for p in producto.categorias.all %} {{p}} {% endfor %}</td>
	        <td>
	            <form action="/agregar_a_canasta/" method="GET">
	                <div class="form-group">
                        <input name="cantidad" type="text" class="form-control" value="0">
                    </div>
                    <input name="producto_id" type="hidden" value='{{producto.pk}}'>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </form>
            <td>
	   </tr>	    
    {% endfor %}
   
</table>	
</div>

{% endblock %}
