{% extends "base.html" %}
{% block content %}
	<h1>Nuevo Usuario</h1>
	<div class="container" style="width:52%">
	<form action="/crear_usuario/" method="POST">
		{% csrf_token %}
		<label for="{{ newuser_form.nombre.id_for_label }}">Nombres:</label>
		{{newuser_form.nombre}}<br>
        <label for="{{ newuser_form.apellido.id_for_label }}">Apellidos:</label>
		{{newuser_form.apellido}}<br>
		<label for="{{ newuser_form.correo.id_for_label }}">Correo:</label>
		{{newuser_form.correo}}<br>
        <label for="{{ newuser_form.direccion.id_for_label }}">Dirección:</label>
		{{newuser_form.direccion}}<br>
		<label for="{{ newuser_form.idPersona.id_for_label }}">Identificación:</label>
		{{newuser_form.idPersona}}<br>
		<label for="{{ newuser_form.telefono.id_for_label }}">Telefono:</label>
		{{newuser_form.telefono}}<br>
		<label for="{{ newuser_form.username.id_for_label }}">Usuario:</label>
		{{newuser_form.username}}<br>
		<label for="{{ newuser_form.password1.id_for_label }}">Ingrese una contraseña:</label>
		{{newuser_form.password1}}<br>
		<label for="{{ newuser_form.password2.id_for_label }}">Repita la contraseña:</label>
		{{newuser_form.password2}}<br>
		<input type="submit">
	</form>
	</div>
{% endblock %}
